[submodule "nvim"]
	path = nvim
	url = https://github.com/NullSeile/nvim-config.git
[submodule "zebar/nullptr-bar"]
	path = zebar/nullptr-bar
	url = https://github.com/NullSeile/nullptr-bar.git
[submodule "himawari-wallpaper"]
	path = himawari-wallpaper
	url = https://github.com/NullSeile/himawari-wallpaper.git
[submodule "Kanagawa-GKT-Theme"]
	path = Kanagawa-GKT-Theme
	url = https://github.com/NullSeile/Kanagawa-GKT-Theme
[submodule "kanata/configs"]
	path = kanata/configs
	url = https://github.com/NullSeile/kanata-configs.git
